@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.cdnfonts.com/css/avenir");
@font-face {
  font-family: "Renitah";
  src: url("/public/fonts/Renitah.woff") format("woff");
  /* Ajoutez d'autres formats si nécessaire */
  font-weight: normal;
  font-style: normal;
}

html,
body {
  /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
  min-height: 100vh;
  margin: 0;
  border: none;
  background-image: url("/public/images/background-image.jpg");
  background-size: cover;
  background-position: fill;
  background-repeat: no-repeat;
  font-family: "Avenir", sans-serif;
}





#div-brand {
  min-width: 25%;
  background: red;
  margin-right: 25%;
}


#brand {
  top: -40px;
  position: absolute;
  height: 150px;
  width: 250px;
}
.container {
  width: 95%;
  max-width: 2000px;
  margin: 0 auto;
  margin-top: 80px;
  height: 80vh;
  overflow: auto;
  background: transparent;

  border-radius: 10px;
  border: solid rgb(211, 211, 211);
  backdrop-filter: blur(15px);
}
.card {
  background: transparent;
  backdrop-filter: blur(15px);
  margin-top: 2rem;
  text-align: center;
  border-radius: 10px;
  border: solid rgb(211, 211, 211);
  transition: all 0.3s ease;
  font-family: 'Avenir';
  color: white;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  max-width: 100px;
  max-height: 200px;
  object-fit: cover;
}

.card-body {
  background: transparent;
  backdrop-filter: blur(15px);
  padding: 1rem;
}
.my-3 {
  margin-bottom: 1rem !important;
}

.navbar {
  top: 30px;
  min-height: 60px;
  width: 95%;
  max-width: 2000px; /* ajustez cette valeur en fonction de la largeur maximale souhaitée */
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  backdrop-filter: blur(15px);
  border-radius: 5px;
  padding-right: 0 2rem;
  position: relative;
  z-index: 1; /* pour s'assurer que le navbar est au-dessus des autres divs */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: solid rgb(211, 211, 211);

  .content {
    display: flex;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(15px);

    .navbar-toggler {
      margin-left: 50%;
      color: white;


      .dropdown {
        position: relative;
        background: transparent;
        backdrop-filter: blur(15px);

        .btn-secondary {
          color: #fff;
          border: none;
          background: transparent;
          padding: 0.5rem 1rem;
          font-size: 1rem;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: rgb(0, 255, 128);
          }
        }

        .dropdown-menu {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          z-index: 1000;
          border: none;
          border-radius: 0;
          margin: 0;
          padding: 0;
          background: transparent;
          backdrop-filter: blur(15px);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          li {
            border-bottom: 1px solid rgb(211, 211, 211);
            

            &:last-child {
              border-bottom: none;
            }

            a {
              display: block;
              padding: 0.5rem 1rem;
              color: rgb(211, 211, 211);
              font-size: 0.9rem;

              &:hover {
                background-color: rgb(255, 0, 0)
              }
            }
          }
        }
      }
    }
  }
}

a,
li {
  text-decoration: none;
  font-family: "Avenir";
  color: #fff;
}
// #navbarNav {
//   padding-left: 78rem;
// }
#logout {
  margin-left: 10px;
}
.navbar-nav{
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  margin: 7px 5px;
  color: white;

}
.dropdown-toggle{
    color: #fff;
  }
.dropdown-toggle:hover{
  color: grey;
}
#div-username{
  margin-top: 15px;
  color: white;
  font-family: 'Renitah';
  font-size: 2rem;
  margin-left: 5px;
}
#logout{
  color: red;
  margin-right: auto;

}
.form-control{
  width: 80%;
  min-width: 50%;
}

/**************************************V4*******************************************************/
